
/* RT: Navigation Header from ZURB Foundation Framework */
.topbar-sticky-shrink {
    padding: 2rem;
    transition: padding 0.25s ease;
    background: #2c3840;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .topbar-sticky-shrink .menu {
    background: #2c3840;
  }
  
  .is-stuck .topbar-sticky-shrink {
    padding: 1rem;
    transition: padding 0.25s ease;
  }
  
  [data-sticky] {
    width: 100%;
  }
  
  .topbar-sticky-shrink-header {
    padding: 10rem 0;
    background: url("https://placehold.it/2000x500&text=this is a header") center center no-repeat;
    background-size: cover;
  }
  

  

  

  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  